<!doctype html>
<html lang="en">

<head>
  <title>Random Tale API controller</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <h1>Random Tale API controller</h1>
    <div class="form-group">
      <textarea class="form-control" id="console" rows="5"></textarea>
    </div>
    <div class="text-center">
      <div class="btn-group">
        <button class="btn btn-lg btn-primary" id="controls-start">
          <i class="fas fa-play"></i> Start</button>
        <button class="btn btn-lg btn-secondary" id="controls-pause">
          <i class="fas fa-pause"></i> Pause</button>
        <button class="btn btn-lg btn-secondary" id="controls-stop">
          <i class="fas fa-stop"></i> Stop</button>
      </div>
    </div>
  </div>
</body>

</html>

<script>
  var socket = io.connect('http://127.0.0.1:5000');

  var buttonStart = document.getElementById('controls-start');
  var buttonPause = document.getElementById('controls-pause');
  var buttonStop = document.getElementById('controls-stop');
  var consoleArea = document.getElementById('console');

  socket.on('connect', function (data) {
    visibleLog('Websocket connection established');
    socket.emit('join', 'Connected from client web app...');
  });

  socket.on('broad', function (data) {
    console.log(data);
    visibleLog(data);
  });

  buttonStart.onclick = function () {
    emitControl('start');
  };
  buttonPause.onclick = function () {
    emitControl('pause');
  };
  buttonStop.onclick = function () {
    emitControl('stop');
  };

  function emitControl(message) {
    socket.emit('controls', message);
  }

  function visibleLog(msg) {
    var currentdate = new Date();
    var timestamp = currentdate.getHours() + ":" + currentdate.getMinutes() + ":" + currentdate.getSeconds();
    consoleArea.value += timestamp + " > " + msg + '\n';
  }
</script>